@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-color: #F4E7EE;
    
}
header {
    
    background-color: black;
    color: rgb(218, 165, 32);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;

    box-shadow: 5px 3px 8px #00000086;
    
   
 
    
}


header h1 {
    
    font-size: 26px;
   
}
.material-symbols-outlined {
   
    margin-left: 22px;
    margin-right:30px;
    font-size: 26px;
    color: white; 
}


a {
    text-decoration: none;
    color: black;
}
h2{ padding: 30px;
    text-align: center;
    font-weight: 400;
}

.n1{
    
    align-items: center;
    margin-top: 5px;
    padding: 15px ;
    font-size: 14px;
    border-bottom: 1px solid #757575 ;
    margin: 10px 15px 0px 15px ;
    cursor: pointer;
   
    
    
}
div img {
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
    float: left;
}
.estilo {
    color:#757575;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.03333em;
    
    
}


footer{
    background-color: white ;
    display: flex;
    height: 51px;
    
    align-items: center;
    
    bottom: 0%;
    width: 100%;
    box-shadow: -1px -5px 8px #00000086;
    justify-content: space-around;
    position: sticky;
    
    
}
footer .material-symbols-outlined {
    color:#757575;
    
}
footer div {
    text-align: center;
}

.segundo{
    padding: 8px;
}

.n1 a {
    
justify-content: left;
}
#caixa {
    height: 100%;
}
    

